<!DOCTYPE html>

<!-- This page demonstrates the detailed information of the selected book
     and the seller's E-mail -->

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>bookDetail</title>
    <%- include navBar.ejs %>
<link rel='stylesheet' href='/stylesheets/bookDetail.css'/>
</head>
<body>
<div class="box">
    <h1>This Book is:</h1>
    <img class="image" src=<%= list[0].image%> alt="">
    <div class = 'bookName'>
        Book Name: <%= list[0].bookName%>
    </div>
    <div class = 'authorName'>
        Author Name: <%= list[0].authorName%>
    </div>
    <div class="text">Category : <%= list[0].category%></div>
    <div class="text">Price : <%= list[0].price%></div>
    <div class="text">Description: <%= list[0].description%></div>
    <div class="text">Seller's Name: <%= user.userName %></div>
    <div class="text bold">Seller's E-mail: <%= user.email %></div>


    <button type="button" class= "button">
        <a class="back" href="javascript:history.back();">Return to the previous page</a>
    </button>
</div>
<br><br>
<!--footer-->
<%- include footer.ejs %>
</body>
</html>